body{
	background-image: url("rift.png");
	width: 100%;
	height: 100%;
}
#logo{
	position: relative; 
float: left;
}
h1{
	
	
}

#custom{
	position: relative;
font-weight: lighter;
	font-family: roboto;
	color: white;
	font-size: 36px;
	margin: 20px;
	
}
#about{
	position:relative;
	font-weight: lighter;
	font-family: roboto;
	color: white;
	font-size: 36px;
	margin: 20px;


}
#home{
	position:relative;
	font-weight: lighter;
	font-family: roboto;
	color: white;
	font-size: 36px;
	margin: 20px;

}
#description{
	position: relative;
	font-family: roboto;
	color: white;
	font-size: 60px;
	top: -100px;
}
#summoner{
	position: relative;
	background: rgba(0,0,0,0.5);
	width: 700px;
	height: 125px;
	color: white;
	font-family: roboto;
	font-size: 36px;
	font-weight: lighter;
top: -50px;
}
#regionselect{
	position: relative;
	width: 70px;
	height: 125px;
	text-align: center;
	font-family: roboto;
	font-size: 24px;
	top: -55px;
	color:white;
	background: rgba(0,0,0,0.5);
	right: 5px;
}
#search-submit{
	position: relative;
	width: 180px;
	height: 125px;
	text-align: center;
	font-family: roboto;
	font-size: 36px;
	top: -50px;
	color:white;
	background: rgba(0,0,0,0.5);
	right: 10px;
}
input::placeholder{
	position: relative;
	font-size: 36;
	font-family: roboto;
	font-weight: lighter;

}
input{
	padding: 30px;
}
nav{
	position: relative;
	width: 99%;
	text-align:right;
	line-height: 60px;
	padding: 30px;
}


#firstmain{
	position: relative;
	width: 100%;
	text-align: center;
	bottom: 50%;

}




/* new stuff*/

#summstext{
	position: relative;
	font-weight: lighter;
	font-family: roboto;
	color: white;
	font-size: 36px;
	margin: 20px;
	vertical-align: middle;
	display: inline-block;

}

#main{
	position: relative;
	width: 100%;
	text-align: center;
	padding-top: 30px;
	visibility: hidden;
	height: 80%;
}

.champion{
	position: relative;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 128px;
	width: 128px;
	background-position: center;
	background-size: contain;
}
.spell{
	position: relative;
	height: 128px;
	width: 128px;
	background-size: contain;
	text-align: center;
	font-size: 48px;
	font-family: roboto;
	color: white;
	text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}
.overlay{
	height: 128px;
	width: 128px;
	color: black;
	position: absolute;
}
#spell1, #spell3, #spell5, #spell7, #spell9{
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;

}
#spell2, #spell4, #spell6, #spell8, #spell10{
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;

}
.boots{
	position: relative;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 128px;
	width: 128px;
	background-position: center;
	background-size: contain;

}
.insight{
	position: relative;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 128px;
	width: 128px;
	background-position: center;
	background-size: contain;
}
button{
	vertical-align: top;
}